<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/temporary-chat" fill="clear">
        <ion-icon name="chatbubble-ellipses-outline" style="font-size: 22px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Usuário</ion-label>
      <ion-input [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Entrar</ion-button>

    <ion-item lines="none">
      <ion-label class="ion-text-center">ou</ion-label>
    </ion-item>

    <ion-button expand="block" fill="outline" routerLink="/register">
      Cadastrar
    </ion-button>
  </form>
</ion-content>
